body {
  background: #b5bdc8;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-image: url("../images/loadbackground.jpg");
  background-attachment: fixed; }

.red {
  color: red; }

.orange {
  color: #F79A0C; }

.col-xs-12 {
  margin-top: 20px; }

.wrap-load {
  background-color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  background: #b5bdc8;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.cssload-thecube {
  position: absolute;
  top: 15%; }

.media-image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat; }

.media-head {
  border: 1px solid black;
  background-image: url("../images/noise.png");
  background-color: whitesmoke; }

.media-left {
  background-size: cover;
  margin-top: 1em;
  height: 48px;
  width: 48px;
  float: left; }

.media-headline {
  font-family: Copperplate;
  padding-right: 8px;
  overflow: hidden;
  margin-left: 5em; }
  .media-headline h4 {
    margin-left: 50px;
    margin-top: 24px; }

.media-byline {
  margin-left: 8%;
  color: black; }

.media-byline__time {
  font-family: Tahoma; }

.media-byline__author {
  font-family: 'Lucida Console';
  font-style: italic;
  font-weight: bold;
  color: brown; }

.description {
  margin-top: 5px;
  font-family: Georgia, Serif;
  max-height: 100px;
  overflow-y: scroll;
  background-image: url("../images/paper.png"); }

html {
  box-sizing: border-box; }

.description::-webkit-scrollbar {
  width: .5em; }

.description::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey; }

*,
*:after,
*:before {
  box-sizing: inherit; }

/* loading animations from http://cssload.net/ 
---start------------------------------------*/
.cssload-thecube {
  width: 188px;
  height: 188px;
  margin: 0 auto;
  margin-top: 125px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1); }

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00ff33;
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%; }

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg); }

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg); }

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg); }

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s; }

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s; }

.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s; }

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(350px) rotateX(-180deg);
    opacity: 0; }
  25%,
				75% {
    transform: perspective(350px) rotateX(0deg);
    opacity: 1; }
  90%,
				100% {
    transform: perspective(350px) rotateY(180deg);
    opacity: 0; } }
@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(350px) rotateX(-180deg);
    opacity: 0; }
  25%,
				75% {
    -o-transform: perspective(350px) rotateX(0deg);
    opacity: 1; }
  90%,
				100% {
    -o-transform: perspective(350px) rotateY(180deg);
    opacity: 0; } }
@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(350px) rotateX(-180deg);
    opacity: 0; }
  25%,
				75% {
    -ms-transform: perspective(350px) rotateX(0deg);
    opacity: 1; }
  90%,
				100% {
    -ms-transform: perspective(350px) rotateY(180deg);
    opacity: 0; } }
@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(350px) rotateX(-180deg);
    opacity: 0; }
  25%,
				75% {
    -webkit-transform: perspective(350px) rotateX(0deg);
    opacity: 1; }
  90%,
				100% {
    -webkit-transform: perspective(350px) rotateY(180deg);
    opacity: 0; } }
@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(350px) rotateX(-180deg);
    opacity: 0; }
  25%,
				75% {
    -moz-transform: perspective(350px) rotateX(0deg);
    opacity: 1; }
  90%,
				100% {
    -moz-transform: perspective(350px) rotateY(180deg);
    opacity: 0; } }
/* http://cssload.net/  */
/* loading animations from http://cssload.net/ 
----end--------------*/
/*

						<div class="cssload-thecube pull-left">
	<div class="cssload-cube cssload-c1"></div>
	<div class="cssload-cube cssload-c2"></div>
	<div class="cssload-cube cssload-c4"></div>
	<div class="cssload-cube cssload-c3"></div>
</div>

<div class="cssload-container">
	<div class="cssload-zenith"></div>
</div>

*/

/*# sourceMappingURL=style.css.map */
